.container{
    background-color: limegreen;
    border: 5px solid violet;
    height: 800px;

    display: grid;

    grid-template-rows: 250px 600px;
    grid-template-columns: 300px 300px 300px;

    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd sd main main main main main"
    "ft ft ft ft ft ft ft ft";
}

.box{
    background-color: lightpink;
    border: 3px solid black;
}

#header{
    grid-area: hd;
}

#sidebar{
    grid-area: sd;
}
#content{
    grid-area: main;
}
#footer{
     grid-area: ft;
}